.page-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  margin: 0 auto;
}

.spacer {
     flex: 1 1 auto;
}

.company-card {
  border-top: 0.2rem solid #303336;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  padding-top: 1.8rem !important;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-item mat-icon {
  color: #757575;
}

.info-item label {
  display: block;
  font-size: 0.75rem;
  color: #9e9e9e;
  text-transform: uppercase;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.custom-table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 3rem;
  align-items: center;
  padding: 1rem 0.7rem;
  border-bottom: 0.1rem solid #eee;
}

.table-row.head {
  font-weight: bold;
  color: #757575;
  font-size: 0.85rem;
}

.table-row.clickable {
  cursor: pointer;
  transition: background 0.2s;
}

.page-container .custom-table .table-row.clickable:hover {
  background-color: #f8fafc;
  transition: background-color 0.2s ease-in-out;
}