.page-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  margin: 0 auto;
}

.company-card {
  border-top: 0.2rem solid #303336;
}

.spacer {
  flex: 1 1 auto;
}

.page-title {
  font-size: 1.3rem;
  margin: 0;
  color: #1f2937;
}

.page-subtitle {
  font-size: 0.8rem;
  color: #6b7280;
}

.table-card {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1) !important;
}


.custom-table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 4.5rem; 
  align-items: center;
  padding: 1rem 1.5rem;
  transition: background 0.2s;
}

.header-row {
  background: #f9fafb;
  font-weight: 500;
  color: #4b5563;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.data-row {
  cursor: pointer;
}

.data-row:hover {
  background-color: #f8fafc;
}

.cell-with-avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.company-avatar {
  width: 2.5rem;
  height: 2.5rem;
  background: #d8d8d8;
  color: #5c5c5c;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.1rem;
}

.name-info {
  display: flex;
  flex-direction: column;
}

.primary-text {
  font-weight: 550;
  color: #111827;
}

.secondary-text {
  font-size: 0.8rem;
  color: #6b7280;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.icon-link, .icon-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #4b5563;
  text-decoration: none;
}

.icon-link:hover {
  color: #3f51b5;
  text-decoration: underline;
}

.contact-details mat-icon {
  font-size: 1.1rem;
  width: 1.1rem;
  height: 1.1rem;
  color: #9ca3af;
}

.industry-badge {
  background: #f3f4f6;
  color: #374151;
  padding: 0.1rem 0.6rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.empty-state {
  padding: 4rem;
  text-align: center;
  color: #9ca3af;
}

.empty-state mat-icon {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.delete-action span {
  color: #dc2626;
}