.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background: #2b2d3f;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  margin-bottom: 20px;
  font-size: 22px;
  margin-left: 8px;
}

.sidebar nav a {
  display: block;
  color: #d1d5db;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 6px;
  transition: background 0.5s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #374151;
  color: white;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #d1d5db;
}

.content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.topbar{
  display: flex;
  background: #374151;
  color: #d1d5db;
  align-items: center;
  justify-content: space-between;
}

.topbar h2{
  padding-left: 1rem;
}

.topbar-btn {
  background: #23272e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor:pointer;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.topbar-btn:hover {
  background: #374151;
}

.search-bar{
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  width: 20rem;
  border: none;
}