.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 12rem;
  background: #202022;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-left: 0.6rem;
}

.sidebar nav a {
  display: block;
  color: #d1d5db;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 6px;
  transition: background 0.5s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #303336;
  color: white;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #a3a1a1;
}

.content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.topbar{
  display: flex;
  background: #282829;
  color: #d1d5db;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1rem;
}

.topbar h2{
  margin: 0;
  padding-left: 1rem;
}

.topbar-btn:hover {
  background: #42454b;
}

.search-container{
  display: flex;
  align-items: center;
  height: 100%;
}

.search-bar{
  padding: 0 0.8rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  width: 20rem;
  border: none;
  display: flex;
  align-items: center;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.topbar button[mat-icon-button] {
  display: flex;
  align-items: center;
  justify-content: center;
}